<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div>
        <h1>Signup</h1>
        <form action="/user" method="post">
            <label> Name</label>
            <input type="text" name ="name" required ="Enter your name"/>
            <label> Email</label>
            <input type="email" name ="email" required placeholder="Enter your email"/>
            <label> Password</label>
            <input type="password" name ="password" required placeholder="Enter your password"/>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>